:root {
    --main: #00a2e8;
    --seco: #6dd3fe;
}

* {
    padding: 0;
    margin: 0;

    font-family: "Jost", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    user-select: none;
}

html {

    body {
        display: flex;
        flex-direction: column;

        header {
            padding: 1%;
            height: 15%;

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            background-color: var(--main);

            div {
                display: flex;
                flex-direction: row;

                #userrole { color: #003247; } 

            }

            #divcol {
                padding: 10px;

                display: flex;
                flex-direction: column;
                justify-content: center;

            }

        }

        main {
            padding: 1% 10%;

            /* inicio.php */
            &#inicio {
    
                form {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    label, input, button {

                        margin: 0 1%;
                        padding: 0 1%;
                        
                        font-size: x-large;
                        
                        border-radius: 0;
                        border: none;
                        
                        &::placeholder {
                            font-style: italic;
                            font-size: medium;

                            opacity: 0.5;

                        }

                        &:not(label, button) {
                            padding: 0;

                            flex-grow: 1;
    
                            border-bottom: solid #000 1px;
                            
                            outline-width: 0px;
    
                            &:focus { border-color: var(--main); }

                        }

                        &:not(label, input ) {
                            border: solid #000 1px;

                            transition: 0.1s background-color;

                            &:hover {
                                background-color: var(--seco);
                                cursor: pointer;

                            }

                        }

                    }
    
                }

                .videosection {
                    padding: 1%;

                    display: flex;
                    flex-direction: column;

                    border: solid #000 1px;
                    border-radius: 5px;

                    .row {
                        
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        img {
                            padding: 0 1%;
                            
                            width: 18px;
                            height: 18px;

                            &:hover { cursor: pointer; }
                        }

                    }

                    .video-row {

                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        
                        .video-div {
        
                            width: 100%; 
    
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            

                            /* padding: 1%; */

                            .video {
    
                                display: flex;
                                flex-direction: row-reverse;
                                align-items: flex-end;
                                flex-wrap: nowrap;
        
                                width: 250px;
                                height: 150px;
        
                                /* border: solid #000 1px; */
    
                                background-image: url(https://img.youtube.com/vi/dQw4w9WgXcQ/maxresdefault.jpg); 
                                background-size: cover; 
                                background-position: center; 
    
                                p {
                                    background-color: gold;
                                    padding: 2%;
                                    width: fit-content;
                                }
        
                            }
                            
                        }

                    }

                }
    
            }

        }

    }

}