:root {
    --main: #00a2e8;
    --seco: #6dd3fe;
    --maindm: #005980;
}

* {
    padding: 0;
    margin: 0;

    font-family: "Jost", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    user-select: none;
}

html {

    body {
        display: flex;
        flex-direction: column;

        #infobox {
            padding: 0 1%;

            width: fit-content;
            height: fit-content;
            position: fixed;
            display: none;
            
            background-color: var(--main);

            border: solid #000 1px;
            border-radius: 5px;

            transition: 0.5s opacity;

            z-index: 10;

        }

        #overlay {
            width: 100%;
            height: 100%;

            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;

            position: fixed;
            /* visibility: hidden; */
            
            background-color: #0007;

            box-shadow: 5px 10px #888888;

            z-index: 98;

            #mdbox {
                width: 50%;
                height: 50%;
                
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                align-items: center;

                border-radius: 25px;

                background-color: #fff;
            }

        }

        header {
            padding: 1%;
            height: 15%;

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            background-color: var(--main);

            div {
                display: flex;
                flex-direction: row;

                #userrole { color: #003247; } 

            }

            #divcol {
                padding: 10px;

                display: flex;
                flex-direction: column;
                justify-content: center;

            }

            #actions {

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }

            }

        }

        nav {
            padding: 0px;
            height: 0px;
            
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            
            background-color: var(--seco);

            overflow: hidden;

            transition: height 0.2s, padding 0.2s, font-size 0.2s;

        }

        main {
            padding: 1% 10%;

            /* inicio.php */
            &#inicio {
    
                form {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    label, input, button {

                        margin: 0 1%;
                        padding: 0 1%;
                        
                        font-size: x-large;
                        
                        border-radius: 0;
                        border: none;
                        
                        &::placeholder {
                            font-style: italic;
                            font-size: medium;

                            opacity: 0.5;

                        }

                        &:not(label, button) {
                            padding: 0;

                            flex-grow: 1;
    
                            border-bottom: solid #000 1px;
                            
                            outline-width: 0px;
    
                            &:focus { border-color: var(--main); }

                        }

                        &:not(label, input ) {
                            border: solid #000 1px;

                            transition: 0.1s background-color;

                            &:hover {
                                background-color: var(--seco);
                                cursor: pointer;

                            }

                        }

                    }
    
                }

                .videosection {
                    padding: 1%;

                    display: flex;
                    flex-direction: column;

                    border: solid #000 1px;
                    border-radius: 5px;

                    .row {
                        
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        img {
                            padding: 0 1%;
                            
                            width: 18px;
                            height: 18px;

                            &:hover { cursor: pointer; }
                        }

                    }

                    .video-row {

                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        
                        .video-div {
        
                            width: 100%; 
    
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            

                            /* padding: 1%; */

                            .video {
    
                                display: flex;
                                flex-direction: row-reverse;
                                align-items: flex-end;
                                flex-wrap: nowrap;
        
                                width: 250px;
                                height: 150px;
        
                                /* border: solid #000 1px; */
    
                                background-image: url(https://img.youtube.com/vi/dQw4w9WgXcQ/maxresdefault.jpg); 
                                background-size: cover; 
                                background-position: center; 
    
                                p {
                                    background-color: gold;
                                    padding: 2%;
                                    width: fit-content;
                                }
        
                            }
                            
                        }

                    }

                }
    
            }

            &#registro {
                display: flex;
                flex-direction: column;
    
                form {
                    display: flex;
                    flex-direction: column;

                    red {
                        font-size: x-large;
                        color: red;
                    }

                    div {
                        display: flex;
                        flex-direction: row;

                        .row {

                            padding: 0 1%;
                            
                            display: flex;
                            flex-direction: row;
                            align-items: center;
    
                            img {
                                padding: 0 1%;
                                
                                width: 18px;
                                height: 18px;
    
                                &:hover { cursor: pointer; }
                            }
    
                        }

                    }

                    label, input, button {

                        padding: 0 1%;
                        
                        font-size: x-large;
                        
                        border-radius: 0;
                        border: none;
                        
                        &::placeholder {
                            font-style: italic;
                            font-size: medium;

                            opacity: 0.5;

                        }

                        &:not(label, button) {

                            flex-grow: 1;
    
                            border-bottom: solid #000 1px;
                            
                            outline-width: 0px;
    
                            &:focus { border-color: var(--main); }

                        }

                        &:not(label, input ) {
                            border: solid #000 1px;

                            transition: 0.1s background-color;

                            &:hover {
                                background-color: var(--seco);
                                cursor: pointer;

                            }

                        }

                    }
    
                }

            }

        }

        footer {
            padding: 1%;
            height: 15%;

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            background-color: var(--main);

            div {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

            }

        }

    }

}